/*设置总的边框距*/
*{padding: 0;
    margin: 10px 10px 0 10px;
}
/*导航总设置*/
 .nav{   
        height: 240px;
        width: 100%;
        background-color: white;
        border: dashed orangered 2px ;
    }
    /*导航1*/
 .nav1 
    {
    width:400px ;
    height:240px;
    float: left; 
    top:13px;
    position: absolute;
    background:white;
    left: 22px;
    }  
/*logo 位置*/
.logo{
    width: 400px;
   height: 240px;
    background-image:url(Picture/logo.png) ;
     background-size: cover;
    
    margin: auto;
}
/*导航2*/
.nav2
{
 width: 400px; 
 height: 240px;
 float: right;
 top: 13px;
 position: absolute;
 background:white;
 right: 22px;
}
/*导航字体设置*/
.nav p1 ,.nav p{
    color: #3d3d4a;
    font : italic small-caps bold 50px/2em arial,verdana;
}
.nav p{
    color: teal;
    text-indent: 2em;
}
/*主要内容*/
.main{
width:400px;
height:100px;
background-color:white;
}
